@media (max-width: 500px){
    .users-list{
        display: none;
    }
}

.chat__button{
   margin-left: 15px; 
   background: #044750;
   cursor: pointer;
}

.css-1mcnwpj-MuiList-root .chat_li {
    display: flex;
    padding: 13px;
    justify-content: space-between;
    align-items: center;
    border:1px solid #ccc;
    border-radius: 14px;
    background-color: #00bcd4;
    margin-bottom: .5rem;
    margin-left: 30px;
}

