.message-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    gap: 15px;
    overflow-y: auto;
}
.message{
    position: relative;
    min-width: 270px;
	max-width: 700px;
	padding: 14px 18px;
    margin: 15px 8px;
	background-color: #A1E2D9;
	border-radius: 16px 16px 0 16px;
}
.author{
    background: #79C7C5;
    border-radius: 50%;
    color: white;
    padding: 5px;
    position: absolute;
    right: 18px;
}
.answer{
    position: relative;
    min-width: 270px;
	max-width: 700px;
	padding: 14px 18px;
    margin: 6px 8px;
	background-color: #6C8EA4;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #54788e;
}
@media (min-width: 720px){
    .message-list{
        height: 565px;
    }
    .message{
        min-width: 500px;
    }
}