@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .profile__inputs input {
	font: .8rem arial !important;
	line-height: 0 !important;
	padding: 2px 0 2px 5px !important;
	}
	.profile__inputs {
	 	vertical-align: top !important;
	}
}

